# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Firebase
.firebase/
firebaserc

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
